:root
{
	--navbar-height: 3rem;
	--sidenav-width: 17rem;
	--transaction-row-height: 3rem;
}

/* Disable drag support for native feel */
a:not([draggable=true]), img:not([draggable=true])
{
	-webkit-user-drag: none; 
	user-drag: none; /* Technically not supported in Electron yet */
}

a[href^="http://"], a[href^="https://"], a[href^="ftp://"]
{
	-webkit-user-drag: auto;
	user-drag: auto; /* Technically not supported in Electron yet */
}

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before
{
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

input, button, textarea, :focus
{
	outline: none; /* You should add some other style for :focus to help UX/a11y */
}

.sidenav-bottom
{
	background-color: var(--gray-dark);
	width: 100%;
	padding: 1em;
}

.push-right
{
	margin-left: auto;
}

.no-padding-table
{
	padding-left: 0em;
	padding-right: 0em;
}

.navbar-fixheight
{
	height: var(--navbar-height);
}

.content-layout-padding
{
	padding-top: var(--navbar-height);
}

.fixed-header-table
{
	border-collapse: collapse;
	overflow-y: auto;
	margin-bottom: 0;
}

.fixed-header-table thead th
{
	position: sticky;
	top: -2px; /*We see a few pixels of the content underneath otherwise*/
	background: var(--white);
}

.fixed-header-table tbody td
{
	height: 3rem;
}

.fill-vertical-space-wrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.fill-vertical-space-inner
{
	flex-grow: 1;
}

.full-height
{
	height: 100%;
}

.flexbox-height-fix
{
	height: 0px;
}

.fill-empty
{
	flex: 1000000;
	min-height: 0;
}

.navbar h2
{
	margin-bottom: 0;
}

.app-brand-logo img 
{
	width: 2.5rem;
}

.app-brand-text
{
	font-size: 2.5rem;
}

.sidenav-vertical .app-brand
{
	padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}

.sidenav-inner
{
	background-image: linear-gradient(0deg, var(--gray-dark), #3688e5);
}

.sidenav-dark .sidenav-item.active > .sidenav-link:not(.sidenav-toggle)
{
	background-image: linear-gradient(90deg, transparent, #00000066);
	font-weight: 700;
}

.font-danger
{
	color: var(--danger);
}

.font-success
{
	color: var(--success);
}

.font-warning
{
	color: var(--warning);
}

.flag-color-1
{
	color: var(--red);
}

.flag-color-2
{
	color: var(--green);
}

.flag-color-3
{
	color: var(--blue);
}

.flag-color-4
{
	color: var(--purple);
}

.flag-color-5
{
	color: var(--dark);
}

.table-header-status
{
	width: 4em;
}

.table-header-date
{
	width: 7em;
}

.table-header-payee
{
	width: 70%;
}

.table-header-memo
{
	width: 30%;
}

.table-header-amount
{
	width: 8em;
}

.table-header-balance
{
	width: 8em;
}

/*Adjust padding on the sidenav so text fits better*/

.sidenav-vertical .sidenav-item .sidenav-link, .sidenav-vertical .sidenav-header, .sidenav-vertical .sidenav-block
{
	padding: .6rem 1rem;
}

html:not([dir=rtl]) .pl-3, html:not([dir=rtl]) .px-3
{
	padding-left: 0.5rem !important;
}

/*Drive the sidenav width from a var*/

.sidenav-vertical, .sidenav-vertical .sidenav-block, .sidenav-vertical .sidenav-inner > .sidenav-item, .sidenav-vertical .sidenav-inner > .sidenav-header
{
	width: var(--sidenav-width);
}

.layout-fixed:not(.layout-collapsed) .layout-container, .layout-fixed-offcanvas:not(.layout-collapsed) .layout-container
{
	padding-left: var(--sidenav-width);
}

.sidenav-drag
{
	position: absolute;
	right: -4px;
	top: 0;
	bottom: 0;
	width: 8px;
	cursor: e-resize;
}
