:root {
	--navbar-height: 3rem;
	--transaction-row-height: 3rem;
}

/* Disable drag support for native feel */
a:not([draggable=true]), img:not([draggable=true])
{
	-webkit-user-drag: none; 
	user-drag: none; /* Technically not supported in Electron yet */
}

a[href^="http://"], a[href^="https://"], a[href^="ftp://"]
{
	-webkit-user-drag: auto;
	user-drag: auto; /* Technically not supported in Electron yet */
}

:not(input):not(textarea), :not(input):not(textarea)::after, :not(input):not(textarea)::before
{
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

input, button, textarea, :focus
{
	outline: none; /* You should add some other style for :focus to help UX/a11y */
}

.sidenav-bottom
{
	background-color: #828487;
	width: 100%;
	padding: 1em;
}

.push-right
{
	margin-left: auto;
}

.no-padding-table
{
	padding-left: 0em;
	padding-right: 0em;
}

.navbar-fixheight
{
	height: var(--navbar-height);
}

.content-layout-padding
{
	padding-top: var(--navbar-height);
}

.fixed-header-table
{
	border-collapse: collapse;
	overflow-y: auto;
	margin-bottom: 0;
}

.fixed-header-table thead th
{
	position: sticky;
	top: -2px; /*We see a few pixels of the content underneath otherwise*/
	background: var(--white);
}

.fixed-header-table tbody td
{
	height: 3rem;
}

.fill-vertical-space-wrapper
{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.fill-vertical-space-inner
{
	flex-grow: 1;
}

.full-height
{
	height: 100%;
}

.flexbox-height-fix
{
	height: 0px;
}

.fill-empty
{
	flex: 1000000;
	min-height: 0;
}

.navbar h2
{
	margin-bottom: 0;
}