<!DOCTYPE html>
<html lang="en" class="material-style layout-fixed layout-navbar-fixed layout-footer-fixed" dir="ltr">
<head>
	<title>Jar Budgeting</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="stylesheet" href="vendor/fontawesome-6/css/solid.min.css">
	<link rel="stylesheet" href="vendor/fontawesome-6/css/regular.min.css">
	<link rel="stylesheet" href="vendor/fontawesome-6/css/fontawesome.min.css">

	<link rel="stylesheet" href="vendor/appwork/vendor/css/bootstrap.css" class="theme-settings-bootstrap-css">
	<link rel="stylesheet" href="vendor/appwork/vendor/css/appwork.css" class="theme-settings-appwork-css">
	<link rel="stylesheet" href="vendor/appwork/vendor/css/theme-air.css" class="theme-settings-theme-css">
	<link rel="stylesheet" href="vendor/appwork/vendor/css/colors.css" class="theme-settings-colors-css">
	<link rel="stylesheet" href="vendor/appwork/vendor/css/uikit.css">
	<link rel="stylesheet" href="vendor/appwork/vendor/css/pages/authentication.css">
	<link rel="stylesheet" href="vendor/appwork/vendor/css/pages/tasks.css">
	<link rel="stylesheet" href="vendor/appwork/vendor/libs/dragula/dragula.css">
	<link rel="stylesheet" href="vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" href="vendor/spinkit/spinkit.min.css">

	<script src="vendor/appwork/vendor/js/material-ripple.js"></script>
	<script src="vendor/appwork/vendor/js/layout-helpers.js"></script>
	<script src="vendor/appwork/vendor/js/theme-settings.js"></script>

	<script src="vendor/appwork/vendor/js/pace.js"></script>
	<script src="vendor/jquery-3.3.1.min.js"></script>

	<link rel="stylesheet" href="Styles/App.css">

	<script type="text/x-template" id="MainTemplate" template-name="Main"></script>
	<script type="text/x-template" id="JarsTemplate" template-name="Jars"></script>
	<script type="text/x-template" id="OpenTemplate" template-name="Open"></script>
	<script type="text/x-template" id="BudgetTemplate" template-name="Budget"></script>
	<script type="text/x-template" id="DatePickerTemplate" template-name="DatePicker"></script>

</head>
<body>
	<div class="page-loader">
		<div class="bg-primary"></div>
	</div>

	<div id="app">
		<div><jar-main v-if="showBudget" /></div>
		<div><jar-open v-if="showOpen" /></div>
		<div v-if="showLoader" class="full-screen-loader">
			<div class="full-screen-loader-center">
				<div class="sk-swing">
					<div class="sk-swing-dot"></div>
					<div class="sk-swing-dot"></div>
				</div>
			</div>
		</div>

	</div>

	<script src="Scripts/EventBinder.js"></script>

	<script src="vendor/appwork/vendor/libs/popper/popper.js"></script>
	<script src="vendor/appwork/vendor/js/bootstrap.js"></script>
	<script src="vendor/appwork/vendor/js/sidenav.js"></script>
	<script src="vendor/appwork/vendor/libs/dragula/dragula.js"></script>

	<script src="vendor/vue.js"></script>
	<script src="vendor/moment-with-locales.js"></script>
	<script src="vendor/sweetalert.min.js"></script>
	<script src="vendor/vue-dragula.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>

	<script src="Components/Open.js"></script>
	<script src="Components/Main.js"></script>
	<script src="Components/Budget.js"></script>
	<script src="Components/Jars.js"></script>
	<script src="Components/DatePicker.js"></script>
	<script src="Components/SplitResize.js"></script>

	<script src="Scripts/App.js"></script>

	<script>
		//Load all the templates
		var jobsStarted = 0;
		var basePath = "Components/";
		$('[template-name]').each(function () {
			jobsStarted++;
		});
		$('[template-name]').each(function () {
			$(this).load(basePath + $(this).attr('template-name') + '.tpl', function () {
				if (--jobsStarted == 0) {
					$('body').trigger("jarTemplatesLoaded");
				}
			});
		});
	</script>
</body>
</html>